  <div id="new-map">
    <form method="POST" action="/maps/new">
      Name your Map!<input type="text" name="fname"><br>
        <label for="zoom">Zoom</label>
        <select class="form-control" id="zoom">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>

      </div>
Lat <input type="text" name="fname"><br>
lng
      </div>
      <form>
        <button class="btn btn-primary" type="submit" value="Submit" action="/">Submit</button>
      </form>
    </form>



<form action="/action" method="get">
  First name: <input type="text" name="fname"><br>
  Last name: <input type="text" name="lname"><br>
  <input type="submit" value="Submit">
</form>