   


  <div class="col-4">


     <form>
      <button id="capture-button" class="btn btn-outline-primary" type="Capture Map" method="POST" action="/maps/new">Capture Map</button>
    </form>
         <form>
      <button id="capture-button" class="btn btn-outline-primary" type="Capture Map" method="POST" action="/maps/new">Capture Map</button>
    </form>
<br>

    <div class="list-group" id="list-tab" role="tablist">
      <a class="list-group-item list-group-item-action active" id="list-home-list" data-toggle="list" href="#list-home" role="tab" aria-controls="home">First Map</a>
      <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list" href="#list-profile" role="tab" aria-controls="profile">Second Map</a>
      <a class="list-group-item list-group-item-action" id="list-messages-list" data-toggle="list" href="#list-messages" role="tab" aria-controls="messages">Third map</a>
      <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" href="#list-settings" role="tab" aria-controls="settings">Fourth map</a>
    </div>
  </div>
  
</div>
<div class="col-4">
  <h3>Welcome</h3>
  <h5>Favorites:</h5>

    <% for (let index in maps) { %>
    <li><strong><a href="/?mapid=<%= maps[index].id %>"><%= maps[index].name %></a></strong>
      <% }; %>
      <% for (let index in currentPlaces) { %>
    <li><a><%= currentPlaces[index].description %></a></li>
    <% }; %>
    <h5 class="category-list--title">List of points:</h5>
    <ul class="list-group"></ul>
  </div>
