</div>
<div class="col-4">
  <h3>Welcome</h3>
  <h5>Favorites:</h5>
  <% for (let index in maps) { %>
  <li><strong><a href="/?mapid=<%= maps[index].id %>"><%= maps[index].name %></a></strong>
    <% }; %>
    <h5 class="category-list--title">List of points:</h5>
    <ul class="list-group"></ul>
</div>
