   
</div>

<div class="col-4">
  <div>
    <form>
      <button id="capture-button" class="btn btn-outline-primary" type="Capture Map" method="POST" action="/maps/new" class="saveMap">Capture Map</button>
    </form>
  </div>
  
  <h1>Maps:</h1>

  <div>
    <% for (let index in maps) { %>
      <ul class="list-group-item list-group-item-action active" style="list-style: none;">
        <li><strong><a class="list-group-item list-group-item-action" href="/?mapid=<%= maps[index].id %>"><%= maps[index].name %></a></strong></li>
      </ul>
    <% }; %>
    <h1 class="category-list--title">Points:</h1>
    <% for (let index in currentPlaces) { %>
      <ul class="list-group list-group-flush">
        <li><a class="list-group-item"  href="#list-home" role="tab" aria-controls="home"><%= currentPlaces[index].description %></a></li>
      </ul>
    <% }; %>
    
 


